<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random strings</title>
    <script src="{{ static('main.js') }}"></script>
</head>
<body>
    <p id="value">{{value}}</p>
</body>
</html>